<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baidu.admin.mapper.AdminMapper">

    <resultMap id="adminMap" type="com.baidu.admin.domain.Admin">
        <id column="id" property="adminId"/>
        <result column="name" property="name"/>
        <result column="pwd" property="password"/>
        <result column="code" property="adminCode"/>
        <result column="tel" property="telephone"/>
        <result column="email" property="email"/>
        <result column="date" property="enrolldate"/>
        <result column="role" property="role"/>
    </resultMap>

    <!--登录查询-->
    <select id="findByNameAndPwd"
            parameterType="com.baidu.admin.domain.Admin"
            resultMap="adminMap">
        SELECT a.adminId id, a.name name,a.password pwd,a.adminCode code,a.telephone tel,a.email email,a.enrolldate date,group_concat(r.roleName SEPARATOR ',') role
        FROM admin_info a ,role_info r, admin_role ar WHERE
        a.adminCode = #{adminCode}
        AND password = #{password}
        AND a.adminId = ar.admin_id
        and ar.role_id = r.roleId
        GROUP by a.adminId
    </select>

    <!--查询全部-->
    <select id="findAll"
            resultType="com.baidu.admin.domain.Admin">
        SELECT * FROM admin_info
    </select>

    <!--查询全部分页-->
    <select id="findAll1"
            parameterType="com.baidu.base.domain.PageBean"
            resultMap="adminMap">
        SELECT a.adminId id, a.name name,a.adminCode code,a.telephone tel,a.email email,a.enrolldate date,group_concat(r.roleName SEPARATOR ',') role
        FROM admin_info a LEFT  JOIN (role_info r, admin_role ar) ON
        a.adminId = ar.admin_id
        and ar.role_id = r.roleId
        GROUP BY a.adminId limit #{start},#{ps}
    </select>

    <!--修改密码-->
    <update id="updatePwd"
            parameterType="com.baidu.admin.domain.Admin">
        UPDATE admin_info set password = #{password}
        WHERE adminId = #{adminId}
    </update>




</mapper>