<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baidu.privilege.mapper.PrivilegeMapper">

    <resultMap id="roleMap" type="com.baidu.role.domain.Role">
        <id column="id" property="roleId"/>
        <result column="name" property="roleName"/>
        <result column="pr" property="privilege"/>
    </resultMap>
    <select id="findAll"
            resultType="com.baidu.privilege.domain.Privilege">
        SELECT * FROM privilege_info
    </select>

    <select id="findAll1"
            parameterType="com.baidu.base.domain.PageBean"
            resultMap="roleMap">
        SELECT r.roleId id, r.roleName name, group_concat(p.privilegeName SEPARATOR ',') pr
        FROM role_info r LEFT JOIN (role_privilege rp, privilege_info p) ON
        r.roleId = rp.role_id
        AND rp.privilege_id = p.privilegeId
        GROUP BY r.roleId limit #{start},#{ps}
    </select>


    <select id="findById" parameterType="int"
            resultType="com.baidu.privilege.domain.Privilege">
        SELECT * FROM privilege_info WHERE privilegeId = #{privilegeId}
    </select>

    <select id="findByName" parameterType="java.lang.String"
            resultType="com.baidu.privilege.domain.Privilege">
        SELECT * FROM privilege_info WHERE privilegeName = #{value}
    </select>

    <insert id="insert" parameterType="com.baidu.privilege.domain.Privilege">
        INSERT INTO
        privilege_info(costName,baseDuration,baseCost,unitCost,status,des,createTime,startTime,costType)
        VALUES (#{costName},#{baseDuration},#{baseCost},#{unitCost},#{status},#{des},#{createTime},#{startTime},#{costType})
    </insert>

    <update id="updateStatus" parameterType="com.baidu.privilege.domain.Privilege">
        UPDATE privilege_info set status = #{status}, startTime = #{startTime} WHERE costId = #{costId}
    </update>

    <update id="update"
            parameterType="com.baidu.privilege.domain.Privilege">
        UPDATE privilege_info set costName=#{costName},baseDuration=#{baseDuration},
        baseCost=#{baseCost},unitCost=#{unitCost},status=#{status},des=#{des},
        createTime=#{createTime},startTime=#{startTime},costType=#{costType}
        WHERE costId=#{costId}
    </update>

    <delete id="deleteById"
            parameterType="int">
        DELETE FROM privilege_info WHERE privilegeId = #{privilegeId}
    </delete>


</mapper>